@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    /* --primary: 222.2 47.4% 11.2%; */
    --primary: 210 40% 98%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 210 40% 98%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 210 40% 98%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash-display";
  src: url("./assets/fonts/ClashDisplay-Variable.ttf");
}
@font-face {
  font-family: "Guava-candy";
  src: url("./assets/fonts/GuavaCandy.ttf");
}

/*------------- roots ---------------*/

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*----------- Important -------------*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Clash-display";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ------------ Tag Repeated Styles ----------- */
h1,
h2,
h3,
h4,
h5,
h6,
label,
.input_back button span {
  font-family: "Guava-candy";
}

h1 {
  @apply xl:text-[90px] lg:text-7xl md:text-6xl 
  text-4xl;
}

h2 {
  @apply xl:text-[90px] lg:text-7xl md:text-6xl 
  text-4xl;
}

h3 {
  @apply xl:text-6xl lg:text-5xl md:text-4xl text-2xl;
}

h4 {
  @apply xl:text-7xl lg:text-6xl md:text-5xl text-4xl;
}

section {
  @apply relative min-h-screen h-screen flex
  place-items-center justify-center overflow-x-hidden;
}

footer span,
input {
  font-family: "Sora", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

/* -------------- Classes Style ------------------ */
.btn_designed {
  @apply absolute object-contain object-center z-0 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.fp-overflow {
  width: 100%;
}

.video .fp-overflow {
  width: fit-content;
}

.carousel .fp-overflow {
  overflow: visible;
}

.padding {
  @apply px-5 md:px-10 lg:px-20 xl:px-32;
}

.padding_product {
  @apply px-5 md:px-10 lg:px-20;
}

.btn_text_border {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #853a3e;
}

.input_styled {
  @apply flex items-center bg-[#933835] border border-[#BB4F33] rounded-xl px-5 py-2;
}

.input_back {
  box-shadow: inset 4px 6px 7.8px rgba(0, 0, 0, 0.25);
}

.about {
  background-image: url("assets/images/fill_background_one_with_shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.video {
  background-image: url("assets/images/fill_background_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.carousel {
  background-image: url("assets/images/fill_background_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.services {
  background-image: url("assets/images/fill_background_two_with_shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.music {
  background-image: url("assets/images/fill_background_two_with_shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.our_projects {
  background-image: url("assets/images/fill_background_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.about_sections {
  background-image: url("assets/images/fill_background_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

.design_section {
  background-image: url("assets/images/product_design.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
}

/* ------------- Banner Component ------------------ */
.banner {
  background-image: url("assets/images/banner_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  @apply text-center;
}

.mouse_down {
  @apply relative z-10 border border-white border-dashed 
  rounded-full lg:w-14 lg:h-14 h-12 w-12 flex flex-col 
  items-center justify-center;
}

.mouse:hover .mouse_arrow_down {
  animation: mouse 1.2s infinite;
}

/* --------------- Music Audio Component ------------------ */
.audio_player {
  @apply h-full w-[95%] md:w-[550px] xl:w-[650px] md:h-56 xl:h-60 rounded-b-3xl md:rounded-3xl xl:rounded-[30px] bg-[#2D2D37] md:-ml-10 -mt-5 md:mt-0 md:pl-16 relative z-0 flex flex-col md:justify-end gap-5 md:gap-14 py-5 px-7 pt-10 md:pt-5;
}

/* --------------- FullPage --------------- */
/* .about.fp-table {
  justify-content: end !important;
} */

.fp-warning,
.fp-watermark {
  display: none !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  height: 40px !important;
}

#fp-nav ul li a span,
#fp-nav ul li:hover a span,
.fp-slidesNav ul li a span,
.fp-slidesNav ul li:hover a span {
  width: 5px !important;
  height: 40px !important;
  border-radius: 17px !important;
  background-color: #fff !important;
  opacity: 30% !important;
  margin: 0 !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #fff !important;
  opacity: 100% !important;
  margin: 0 !important;
}

/* --------------- Backgrounds --------------- */
.loading_screen {
  background-image: url("assets/images/loading.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* --------------- Responsiveness --------------- */
@media screen and (max-width: 772px) {
  #fp-nav.fp-right {
    right: 0 !important;
  }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    height: 20px !important;
  }

  #fp-nav ul li a span,
  #fp-nav ul li:hover a span,
  .fp-slidesNav ul li a span,
  .fp-slidesNav ul li:hover a span {
    width: 3px !important;
    height: 20px !important;
  }
}
/* --------------- Keyframes --------------- */
@keyframes mouse {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(12px);
  }
}

@-webkit-keyframes mouse {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  to {
    opacity: 0;
    -webkit-transform: translateY(12px);
  }
}

@-moz-keyframes mouse {
  from {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  to {
    opacity: 0;
    -moz-transform: translateY(12px);
  }
}

@-o-keyframes mouse {
  from {
    opacity: 1;
    -o-transform: translateY(0);
  }

  to {
    opacity: 0;
    -o-transform: translateY(12px);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
